Student Name: Abdirahman Yussuf
Student Pace: DSF-FT12-Hybrid
Instructor Name: Samuel Karu

 Box Office Performance Analysis for New Movie Studio

In [ ]:
# importing necessary libraries
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib.inline

# Connect to the SQLite database
conn = sqlite3.connect('../zipped-data/im.db')

# View available tables
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in the database:")
print(tables)

In [ ]:
# importing necessary libraries
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("../zipped-data/bom.movie_gross.csv")
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010