Student Name: Marion Osong
Student Pace: DSF-FT12-Hybrid
Instructor Name: Samuel Karu

## **MOVIE COMPANY PROJECT.** ##

### *Box office perfomance analysis for new Movie studio.* ###

Student Name: Marion Osong (Group 4)

Student Pace: DSF-FT12-Hybrid

Instructor Name: Samuel Karu

## Introduction ##


## Problem statement ##

## Objectives ##
1. Undestanding and analyze historical Box Office Data.

- **Goal:** Establish foundational knowledge on car industry factors affecting fuel consumption and emissions.

2. Understanding the dataset.
- **Tasks**
   - Understand the technical terms used in the data set.
   - Review the shape and type of the data, understand the numerical and categorical columns. 
   - Handle missing values (drop or replace). 
   - Identify and remove duplicates. 
   - Drop unnecessary columns and add new ones as needed<p>

3. Business objectives.

4. statistics.
- **Trend Analysis**

In [1]:
# import the necessaty libraries for data analysis and visualization.
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('../zipped-data/bom.movie_gross.csv/bom.movie_gross.csv')
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010